* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  background-color: rgb(145, 2, 170);
  padding-bottom: 500px;
}

p {
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}
